<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InternalMessaging.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1732C0A21D09A38C00FDB21B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1732C0B61D09A38D00FDB21B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1732C0C11D09A38E00FDB21B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
